<div *ngIf="order.type === 'online'" class="lg:flex lg:items-center lg:justify-between">
 
  <ng-container *ngIf="order.category == 'New'; else statusControl">
    <div fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="space-around stretch" ngClass.lt-lg="mt-10" fxLayoutGap="15px">
     
        <button type="button" (click)="cancelOrder()" [disabled]="isCanceling"
          class="inline-flex items-center rounded-md border border-red-500 bg-white px-4 py-2 text-sm font-medium text-red-500 shadow-sm hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
          <mat-icon class="mat-18" *ngIf="!isCanceling">close</mat-icon>
          {{isCanceling ? 'CANCELLING....' : 'CANCEL ORDER'}}
        </button>
     
        <button type="button" (click)="accept()"
          class="inline-flex items-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          <mat-icon class="mat-18" *ngIf="!isAccepting">check</mat-icon>
          {{isAccepting ? 'ACCEPTING....' : 'ACCEPT ORDER'}}
        </button>
 
    </div>
  </ng-container>

  <ng-template #statusControl>
    <div fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="space-around stretch" ngClass.lt-lg="mt-10" fxLayoutGap.gt-md="10px">
      <mat-form-field appearance="outline">
        <mat-label>Payment Status</mat-label>
        <mat-select [disabled]="order.settled" (selectionChange)="updatePaymentStatus(order, $event)" [(ngModel)]="order.paymentStatus">
          <mat-option *ngFor="let status of ['Paid', 'Unpaid']" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Order Status</mat-label>
        <mat-select    (selectionChange)="updateStatusChange($event.value)" [(ngModel)]="order.status[0].name" [compareWith]="compareFn">
          <mat-option *ngFor="let status of statuses" [value]="status">{{status.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Rider</mat-label>
        <mat-select  (selectionChange)="selectRider($event)" [(ngModel)]="order.rider">
          <mat-option *ngFor="let rider of riders" [value]="rider._id">{{rider.firstName + ' ' + rider.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-template>

</div>


<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between start" fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="space-around stretch"  class="mt-10" fxLayoutGap="20px">
  <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex.gt-md="30%" fxFlex.lt-md="100%" fxLayoutGap="20px">

    <div *ngIf="order.type === 'online' && order.status[0].name === 'Canceled'" class="mat-elevation-z2  rounded-md w-full" fxLayout="column" fxLayoutAlign="start start">
      <h3 class="px-5 py-3">Cancellation Reason</h3>
      <p class="px-5 py-3">{{order.orderCancellationReason || 'No reason stated'}}</p>
    </div>

    <div class="mat-elevation-z2  rounded-md w-full" fxLayout="column" fxLayoutAlign="start start">
      <mat-list class="w-full">
        <div mat-subheader>Order reference #{{order.reference}}</div>
        <mat-list-item  class="w-full">
          <mat-icon matListItemIcon class="material-icons-outlined">card_travel</mat-icon>
          <div matListItemTitle>{{order.payment}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item  class="w-full">
          <mat-icon matListItemIcon class="material-icons-outlined">credit_score</mat-icon>
          <div matListItemTitle>{{order.paymentStatus}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item  class="w-full">
          <mat-icon matListItemIcon class="material-icons-outlined">calendar_today</mat-icon>
          <div matListItemTitle>{{order.createdAt | date: 'medium'}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item  class="w-full"  *ngIf="order.gift">
          <mat-icon matListItemIcon class="material-icons-outlined">redeem</mat-icon>
          <div matListItemTitle>It's a gift</div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item  class="w-full"  (click)="exportPDF()">
          <mat-icon matListItemIcon class="material-icons-outlined">print</mat-icon>
          <div matListItemTitle>Export Order</div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item  class="w-full">
          <mat-icon matListItemIcon class="material-icons-outlined">memory</mat-icon>
          <div matListItemTitle> {{order.currentAppVersion || 'No Version'}}</div>
        </mat-list-item> 
      </mat-list>
    </div>

    <div class="mat-elevation-z2  rounded-md w-full" *ngIf="order.type === 'online'" fxLayout="column" fxLayoutAlign="start start">

      <div fxLayout="column" fxLayoutAlign="space-around center" class="w-full p-3">
        
        <img [routerLink]="['../../../customers', order.user._id, 'details']" appGravatar [email]="order.user.email" width="150" height="150" class="rounded-full cursor-pointer">
        <h2 class="text-center font-bolder text-blue-600" [routerLink]="['dashboard', 'customers', order.user._id, 'details']">{{order.user.name}}</h2>

        <a type="button" [routerLink]="['../../../customers', order.user._id, 'details']"
          class="inline-flex items-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          Customer
      </a>
      </div>

      <mat-list class="w-full">
        <mat-list-item  class="w-full">
          <mat-icon matListItemIcon class="material-icons-outlined">phone_android</mat-icon>
          <a matListItemTitle [href]="'tel:'+order.user.phoneNumber">{{order.user.phoneNumber}}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListItemIcon class="material-icons-outlined">location_on</mat-icon>
          <a matListItemTitle>{{order.shipping.name + ' ' + order.shipping.administrativeArea}}</a>
        </mat-list-item>
        <mat-list-item *ngIf="order.shipping.streetName">
          <a matListItemTitle>{{order.shipping.streetName}}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListItemIcon class="material-icons-outlined">phone</mat-icon>
          <a matListItemTitle>{{(order.user.phoneCredentials[0].deviceType) + '  ' +order.user.phoneCredentials[0].make + ' ' + order.user.phoneCredentials[0].os}}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        
        <mat-divider></mat-divider>
        <div mat-subheader>Notes</div>
        <mat-list-item>
          <p>{{order.orderInstruction || 'No Notes'}} </p>
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="order.gift && order.type === 'online'"    class="mat-elevation-z2  rounded-md w-full" fxLayout="column" fxLayoutAlign="start start">

      <div fxLayout="column" fxLayoutAlign="space-around center" class="w-full p-3">
        <img src="https://davur.dexignzone.com/react/demo/static/media/1.7c3d5aa9.jpg" width="150" height="150"
          class="rounded-full">
        <h2 class="text-center font-bolder">{{order.receiver.name}}</h2>

        <button type="button"
          class="inline-flex items-center rounded-md border border-transparent bg-pink-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          Gift Receiver  ({{order.receiver.surprise ? 'surprise' : 'Not surprise'}})
        </button>
      </div>

     
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon class="material-icons-outlined">phone_android</mat-icon>
          <a matListItemTitle [href]="'tel:'+order.receiver.phoneNumber">{{order.receiver.phoneNumber}}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListItemIcon class="material-icons-outlined">location_on</mat-icon>
          <div matListItemTitle>{{order.receiver.address.name + ' ' + order.receiver.address.administrativeArea + ' ' + order.receiver.address.locality }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Notes</div>
        <mat-list-item>
          <p>{{order.receiver.note || 'No Notes'}} </p>
        </mat-list-item>
      </mat-list>

    </div>

    <div class="mat-elevation-z2  rounded-md w-full">
      <div fxLayout="column" fxLayoutAlign="space-around center" class="w-full p-3">
        <img [routerLink]="['../../../stores', order.store._id, 'explore']" [src]="order.store.logo" width="150" height="150"  class="rounded-full cursor-pointer">
        <h2 class="text-center font-bolder text-blue-500 cursor-pointer" [routerLink]="['../../../stores', order.store._id, 'explore']">{{order.store.name}}</h2>

        <a type="button" [routerLink]="['../../../stores', order._id, 'explore']"
          class="inline-flex items-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          Restaurant
      </a>
      </div>

      <mat-list class="w-full">
        <mat-list-item  class="w-full">
          <mat-icon matListItemIcon class="material-icons-outlined">phone_android</mat-icon>
          <a matListItemTitle [href]="'tel:'+order.store.contactInfo.phone">{{order.store.contactInfo.phone}}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListItemIcon class="material-icons-outlined">location_on</mat-icon>
          <a matListItemTitle>{{order.store.contactInfo.placeNumber + ' ' + order.store.contactInfo.placeName + ' ' 
            || "No Address"}}</a>
        </mat-list-item>
        <mat-list-item *ngIf="order.store.contactInfo.address">
          <a matListItemTitle>{{order.store.contactInfo.address}}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListItemIcon class="material-icons-outlined">mail</mat-icon>
          <a matListItemTitle>{{order.store.contactInfo.email}}</a>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div fxFlex="70%" fxLayoutGap="20px">
    <div id="alert-additional-content-1" *ngIf="order?.deliveryTime?.name === 'Schedule Delivery'" class="p-4 mb-4 text-blue-800 border border-blue-300 rounded-lg bg-blue-50" role="alert">
      <div class="flex items-center">    
        <h3 class="text-lg font-medium m-0" style="margin: 0; padding:0">
          <mat-icon class="mat-18">alarm</mat-icon> Schedule Delivery</h3>
      </div>
      <div class="mt-2 mb-4 text-sm">
        This order is Scheduled for {{order.deliveryTime.date}} {{order.deliveryTime.time}}, kindly inform both the vendor and the customers. 
      </div>
    </div>
    <div class="mat-elevation-z2 p-3 rounded-md w-full" id="pdfTable" #pdfTable>
      <div class="p-3">
        
        <div class="overflow-x-auto">
          <table class="table-auto w-full">
            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
              <tr>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Items</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left"> Qty</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Price</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Total Price</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-center">Action</div>
                </th>
              </tr>
            </thead>
            <tbody class="text-sm divide-y divide-gray-100">
              <tr *ngFor="let item of order.cart.products">
                <td class="p-2 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3">
                      <!-- <img class="rounded-lg" [src]="item.photos[0]" width="100" height="100" alt="Alex Shatov"> -->
                    </div>
                    <div fxLayout="column" fxLayoutAlign="start start">
                     
                      <div class="font-medium  text-blue-800">{{item.name}}</div>
                      <div fxLayout="column" fxLayoutAlign="space-around start">
                        <div class="font-medium text-gray-800" *ngFor="let option of item.options">
                          {{option.quantity}} x {{option.name}} = {{option.quantity * option.price | currency: order.store.currency}}
                        </div>
                      </div>


                    </div>

                  </div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left">{{item.quantity}}</div>
                </td>



                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-black">{{(item.price + optionsPrice(item.options)) | currency: order.store.currency}}</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-black">{{ (item.price + optionsPrice(item.options)) *
                    item.quantity | currency: order.store.currency}}</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-lg text-center">
                    <button mat-icon-button color="warm">
                      <mat-icon class="mat-18">delete</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>

              <tr>

                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-bold">Service Fee</div>
                </td>

                <td class="p-2 whitespace-nowrap">
                  <div class="text-left">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-black">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-black">{{order.serviceFee | currency: order.store.currency}}</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-lg text-center">
                    -
                  </div>
                </td>
              </tr>

              <tr>

                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-bold">Shipping Fee</div>
                </td>

                <td class="p-2 whitespace-nowrap">
                  <div class="text-left">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-red-500">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-red-500">{{order.shippingFee | currency: order.store.currency}}</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-lg text-center">
                    -
                  </div>
                </td>
              </tr>

              <tr>

                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-bold">Discount</div>
                </td>

                <td class="p-2 whitespace-nowrap">
                  <div class="text-left">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-black">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-black">{{order.discount | currency: order.store.currency}}</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-lg text-center">
                    -
                  </div>
                </td>
              </tr>

            </tbody>
            <tfoot class="bg-gray-700">
              <tr class="font-semibold text-white dark:white">
                <th scope="row" class="py-3 px-6 whitespace-nowrap text-base">
                  <div class="text-left font-bold">Total</div>
                </th>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-white">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-white">
                    {{order.total | currency: order.store.currency}}
                  </div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-lg text-center">
                    -
                  </div>
                </td>
              </tr>
            </tfoot>
            <tfoot class="bg-gray-700">
              <tr class="font-semibold text-white dark:white">
                <th scope="row" class="py-3 px-6 whitespace-nowrap text-base">
                  <div class="text-left font-bold">Driver Tips</div>
                </th>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-white">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-white">
                    {{(order.driverTip || 0) | currency: order.store.currency}}
                  </div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-lg text-center">
                    -
                  </div>
                </td>
              </tr>
            </tfoot>
            <tfoot class="bg-blue-700">
              <tr class="font-semibold text-white dark:white">
                <th scope="row" class="py-3 px-6 whitespace-nowrap text-base">
                  <div class="text-left font-bold">Total Vendor Commission</div>
                </th>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-white">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-white">
                    {{order.vendorCommissionAmount | currency: order.store.currency}} ({{order.vendorCommission}}%)
                  </div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-lg text-center">
                    -
                  </div>
                </td>
              </tr>
            </tfoot>
            <tfoot class="bg-pink-700">
              <tr class="font-semibold text-white dark:white">
                <th scope="row" class="py-3 px-6 whitespace-nowrap text-base">
                  <div class="text-left font-bold">Vendor Receive's</div>
                </th>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-white">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-white">
                    {{(order.subTotal) - (order.vendorCommissionAmount) | currency: order.store.currency}}
                  </div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-lg text-center">
                    -
                  </div>
                </td>
              </tr>
            </tfoot>

            <tfoot class="bg-green-700">
              <tr class="font-semibold text-white dark:white">
                <th scope="row" class="py-3 px-6 whitespace-nowrap text-base">
                  <div class="text-left font-bold">Shopbot Receives</div>
                </th>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-white">-</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-white">
                    {{order.total - ((order.subTotal) - (order.vendorCommissionAmount))  | currency: order.store.currency}}
                  </div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-lg text-center">
                    -
                  </div>
                </td>
              </tr>
            </tfoot>
            

            
          </table>
        </div>
      </div>
    </div>

    <div class="mat-elevation-z2 p-3 rounded-md w-full mt-5">
      <div class="p-3">

        <ol class="items-center sm:flex">
          <li class="relative mb-6 sm:mb-0">
            <div class="flex items-center">
              <div
                class="flex z-10 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                <svg aria-hidden="true" class="w-3 h-3 text-blue-600 dark:text-blue-300" fill="currentColor"
                  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
            </div>
            <div class="mt-3 sm:pr-8">
              <h3 class="text-lg font-semibold">Order Created</h3>
              <time
                class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{{order.createdAt
                | date: 'medium'}}</time>
              <!-- <p class="text-base font-normal text-gray-500 dark:text-gray-400">Alex Onozor has Created an Order</p> -->
            </div>
          </li>
          <li class="relative mb-6 sm:mb-0" *ngFor="let status of order.status">
            <div class="flex items-center">
              <div
                class="flex z-10 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                <svg aria-hidden="true" class="w-3 h-3 text-blue-600 dark:text-blue-300" fill="currentColor"
                  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
            </div>
            <div class="mt-3 sm:pr-8">
              <h3 [class]="'text-lg font-semibold ' + status.color">{{status.name}}</h3>
              <time
                class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{{status?.updatedOn
                | date: 'medium'}}</time>
              <!-- <p class="text-base font-normal text-gray-500 dark:text-gray-400">Alex Onozor has Created an Order</p> -->
            </div>
          </li>
        </ol>

      </div>
    </div>

  </div>
</div>