<div style="padding:20px">
  <section class="p-6 my-6 dark:bg-gray-800 dark:text-gray-100">
    <div class="container grid grid-cols-1 gap-6 mx-auto sm:grid-cols-2 xl:grid-cols-4">
      <div class="flex p-4 space-x-4 rounded-lg md:space-x-6 dark:bg-gray-900 dark:text-gray-100">
        <div class="flex justify-center p-2 align-middle rounded-lg sm:p-4 dark:bg-violet-400">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
            <polygon points="160 96.039 160 128.039 464 128.039 464 191.384 428.5 304.039 149.932 304.039 109.932 16 16 16 16 48 82.068 48 122.068 336.039 451.968 336.039 496 196.306 496 96.039 160 96.039"></polygon>
            <path d="M176.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,176.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,176.984,464.344Z"></path>
            <path d="M400.984,368.344a64.073,64.073,0,0,0-64,64h0a64,64,0,0,0,128,0h0A64.072,64.072,0,0,0,400.984,368.344Zm0,96a32,32,0,1,1,32-32A32.038,32.038,0,0,1,400.984,464.344Z"></path>
          </svg>
        </div>
        <div class="flex flex-col justify-center align-middle">
          <p class="text-3xl font-semibold leading-none">200</p>
          <p class="capitalize">Orders</p>
        </div>
      </div>
      <div class="flex p-4 space-x-4 rounded-lg md:space-x-6 dark:bg-gray-900 dark:text-gray-100">
        <div class="flex justify-center p-2 align-middle rounded-lg sm:p-4 dark:bg-violet-400">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
            <path d="M256,16C123.452,16,16,123.452,16,256S123.452,496,256,496,496,388.548,496,256,388.548,16,256,16ZM403.078,403.078a207.253,207.253,0,1,1,44.589-66.125A207.332,207.332,0,0,1,403.078,403.078Z"></path>
            <path d="M256,384A104,104,0,0,0,360,280H152A104,104,0,0,0,256,384Z"></path>
            <polygon points="205.757 228.292 226.243 203.708 168 155.173 109.757 203.708 130.243 228.292 168 196.827 205.757 228.292"></polygon>
            <polygon points="285.757 203.708 306.243 228.292 344 196.827 381.757 228.292 402.243 203.708 344 155.173 285.757 203.708"></polygon>
          </svg>
        </div>
        <div class="flex flex-col justify-center align-middle">
          <p class="text-3xl font-semibold leading-none">7500</p>
          <p class="capitalize">New customers</p>
        </div>
      </div>
      <div class="flex p-4 space-x-4 rounded-lg md:space-x-6 dark:bg-gray-900 dark:text-gray-100">
        <div class="flex justify-center p-2 align-middle rounded-lg sm:p-4 dark:bg-violet-400">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
            <path d="M425.706,142.294A240,240,0,0,0,16,312v88H160V368H48V312c0-114.691,93.309-208,208-208s208,93.309,208,208v56H352v32H496V312A238.432,238.432,0,0,0,425.706,142.294Z"></path>
            <rect width="32" height="32" x="80" y="264"></rect>
            <rect width="32" height="32" x="240" y="128"></rect>
            <rect width="32" height="32" x="136" y="168"></rect>
            <rect width="32" height="32" x="400" y="264"></rect>
            <path d="M297.222,335.1l69.2-144.173-28.85-13.848L268.389,321.214A64.141,64.141,0,1,0,297.222,335.1ZM256,416a32,32,0,1,1,32-32A32.036,32.036,0,0,1,256,416Z"></path>
          </svg>
        </div>
        <div class="flex flex-col justify-center align-middle">
          <p class="text-3xl font-semibold leading-none">172%</p>
          <p class="capitalize">Growth</p>
        </div>
      </div>
      <div class="flex p-4 space-x-4 rounded-lg md:space-x-6 dark:bg-gray-900 dark:text-gray-100">
        <div class="flex justify-center p-2 align-middle rounded-lg sm:p-4 dark:bg-violet-400">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
            <path d="M454.423,278.957,328,243.839v-8.185a116,116,0,1,0-104,0V312H199.582l-18.494-22.6a90.414,90.414,0,0,0-126.43-13.367,20.862,20.862,0,0,0-8.026,33.47L215.084,496H472V302.08A24.067,24.067,0,0,0,454.423,278.957ZM192,132a84,84,0,1,1,136,65.9V132a52,52,0,0,0-104,0v65.9A83.866,83.866,0,0,1,192,132ZM440,464H229.3L79.141,297.75a58.438,58.438,0,0,1,77.181,11.91l28.1,34.34H256V132a20,20,0,0,1,40,0V268.161l144,40Z"></path>
          </svg>
        </div>
        <div class="flex flex-col justify-center align-middle">
          <p class="text-3xl font-semibold leading-none">17%</p>
          <p class="capitalize">Bounce rate</p>
        </div>
      </div>
      <div class="flex p-4 space-x-4 rounded-lg md:space-x-6 dark:bg-gray-900 dark:text-gray-100">
        <div class="flex justify-center p-2 align-middle rounded-lg sm:p-4 dark:bg-violet-400">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-9 w-9 dark:text-gray-800">
            <path d="M454.423,278.957,328,243.839v-8.185a116,116,0,1,0-104,0V312H199.582l-18.494-22.6a90.414,90.414,0,0,0-126.43-13.367,20.862,20.862,0,0,0-8.026,33.47L215.084,496H472V302.08A24.067,24.067,0,0,0,454.423,278.957ZM192,132a84,84,0,1,1,136,65.9V132a52,52,0,0,0-104,0v65.9A83.866,83.866,0,0,1,192,132ZM440,464H229.3L79.141,297.75a58.438,58.438,0,0,1,77.181,11.91l28.1,34.34H256V132a20,20,0,0,1,40,0V268.161l144,40Z"></path>
          </svg>
        </div>
        <div class="flex flex-col justify-center align-middle">
          <p class="text-3xl font-semibold leading-none">17%</p>
          <p class="capitalize">Bounce rate</p>
        </div>
      </div>
    </div>
  </section>

  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column" fxLayoutAlign="space-between start" >
       <h1 class="m-0">Dashboard</h1>
       <p>Hi Alex. welcome back to Shopbot Admin.</p>
    </div>

  
      <mat-form-field appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Start date">
          <input matEndDate formControlName="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      
        <mat-error *ngIf="range.controls.startDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
   
 </div>


 <div fxLayout="row" fxLayoutAlign="space-between start" class="my-10" fxLayoutGap="8px" *ngIf="stat$ | async as stat">
    
   <div class="mat-elevation-z3 p-10 rounded-lg"   fxFlex="15%">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="center center" >
        <h1 class="m-0 font-bold text-green-400" style="font-weight: bolder; font-size: 40px">{{stat.totalOrders}}</h1>
        <p class="m-0 font-light">Total Orders</p>
      </div>
    </div>
   </div>
   <!-- {
    "totalSales": 1628975.8,
    "totalOrders": 9,
    "completedOrders": 2,
    "pendingOrders": 6,
    "canceledOrders": 1,
    "profits": 574.95
  } -->
   

   <div class="mat-elevation-z3 p-10 rounded-lg"   fxFlex="15%">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="center center" >
        <h1 class="m-0 font-bold text-green-400" style="font-weight: bolder; font-size: 40px">{{stat.completedOrders}}</h1>
        <p class="m-0 font-light">Total Orders Delivered</p>
      </div>
    </div>
   </div>

   <div class="mat-elevation-z3 p-10 rounded-lg"   fxFlex="15%">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="center center" >
        <h1 class="m-0 font-bold text-red-500" style="font-weight: bolder; font-size: 40px">{{stat.canceledOrders}}</h1>
        <p class="m-0 font-light">Total Orders Canceled</p>
      </div>
    </div>
   </div>

   <div class="mat-elevation-z3 p-10 rounded-lg"   fxFlex="15%">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="center center" >
        <h1 class="m-0 font-bold text-blue-500" style="font-weight: bolder; font-size: 30px;">{{stat.totalSales | currency}}</h1>
        <p class="m-0 font-light">Total Revenue</p>
      </div>
    </div>
   </div>

   <div class="mat-elevation-z3 p-10 rounded-lg"   fxFlex="15%">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="center center" >
        <h1 class="m-0 font-bold text-green-400" style="font-weight: bolder; font-size: 30px">{{stat.profits | currency}}</h1>
        <p class="m-0 font-light">Total Profit</p>
      </div>
    </div>
   </div>

   <div class="mat-elevation-z3 p-10 rounded-lg"   fxFlex="15%">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="center center" >
        <h1 class="m-0 font-bold text-black" style="font-weight: bolder; font-size: 40px">200</h1>
        <p class="m-0 font-light">Total Customers</p>
      </div>
    </div>
   </div>

   
 </div>


 <div fxLayout="row" fxLayoutAlign="space-between start" class="my-10" fxLayoutGap="10px">
  <div class="mat-elevation-z3 p-10  rounded-lg"  fxFlex="50%">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <h2>Chart Orders</h2>     
      <button mat-stroked-button color="primary">
        <mat-icon class="mat-18 material-icons-outlined">file_download</mat-icon> Save Report
      </button>
    </div>
    
    <canvas baseChart  
      [type]="'line'"
      *ngIf="!isLoadingChart"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend">
    </canvas>
  </div>


    <div class="mat-elevation-z6 example-container" fxFlex="50%">
      <div fxLayout="row" fxLayoutAlign="space-between start" class="p-10">
        <h2>Recent Orders</h2>     
        <button mat-stroked-button color="primary">
           See All
        </button>
      </div>
      <table mat-table [dataSource]="dataSource" matSort class="w-full" style="width: 100%;">
        <ng-container matColumnDef="storeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Store Name </th>
          <td mat-cell *matCellDef="let row"> {{row.store.name}} </td>
        </ng-container>
  
        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
          <td mat-cell *matCellDef="let row"> {{row.user.name}} </td>
        </ng-container>
  
  
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.createdAt | date: 'd, y, h:mm:ss a'}} </td>
        </ng-container>
  
        
  
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
          <td mat-cell *matCellDef="let row"> {{row.total | currency: '₦'}} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
          <td mat-cell *matCellDef="let row; let i = index">
  
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="deleteOrder(i, row)"> 
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon>visibility</mat-icon>
                <span>View Order</span>
              </button>
            
            </mat-menu>
          </td>
  
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
  
        
        <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9">No data matching the filter "{{input.value}}"</td>
        </tr> -->
      </table>
  
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
    </div>
  
 </div>

 <div fxLayout="column"  class="my-10 p-5 mat-elevation-z3">

  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h2>New Restaurants</h2>     
    <button mat-stroked-button color="primary">
      See All
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between start"  fxLayoutGap="10px">
  <ng-container *ngIf="stores$ | async as stores">
    <mat-card class="example-card" *ngFor="let store of stores" fxFlex="30%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"  [style.background-image]="{ 'background-image': store.logo }" ></div>
        <mat-card-title>{{store.name}}</mat-card-title>
        <mat-card-subtitle>30 seconds ago</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="store.bannerImage" style="max-width: calc(100% + 32px); height: 200px;"  [alt]="store.name">
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="start start"  fxLayoutGap="5px">
          <mat-icon class="mat-18 text-yellow-400">star</mat-icon>
          <mat-icon class="mat-18 text-yellow-400">star</mat-icon>
          <mat-icon class="mat-18 text-yellow-400">star</mat-icon>
          <mat-icon class="mat-18 text-yellow-400">star</mat-icon>
          <mat-icon class="mat-18 text-yellow-400">star_border</mat-icon>
          
        </div>
         
        <p>
          {{store.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button ><mat-icon class="material-icons-outlined">reviews</mat-icon>30</button>
        <!-- <button mat-button><mat-icon class="mat-18 text-yellow-400">star</mat-icon> SHARE</button> -->
      </mat-card-actions>
    </mat-card>
  </ng-container>
    
  </div>
</div>



  
  <!-- <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search Order" #input>
  </mat-form-field>
 -->
</div>