<div class="mat-elevation-z3 container mx-auto my-10  w-full p-5">
    <form [formGroup]="promoForm" (ngSubmit)="submit()">
      <div fxLayout="column" fxLayoutAlign="start start">
       
          <app-select-media valueName="Image" [isNew]="false" [mediaData]="mediaData?.image"
          (removeValue)="removeValue($event)" (openMediaBrowser)="addMedia($event)"></app-select-media>


        <div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-around start" fxLayout.lt-lg="column"
          fxLayoutAlign.lt-lg="space-around stretch" class="w-full" fxLayoutGap="10px">
          <mat-form-field class="full-width" appearance="outline" fxFlex.gt-md="50%" fxFlex.lt-lg="100%">
            <mat-label>Promo Code Name</mat-label>
            <input matInput cancellation="Name Of Banner" formControlName="codeName">
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline" fxFlex.gt-md="50%">
            <mat-label>Promo Code</mat-label>
            <input matInput cancellation="Promo Code *" formControlName="code">
          </mat-form-field>
        </div>
  
        <div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-around start" fxLayout.lt-lg="column"
          fxLayoutAlign.lt-lg="space-around stretch" class="w-full" fxLayoutGap="10px">
  
          <mat-form-field class="full-width" appearance="outline" fxFlex.gt-md="50%" fxFlex.lt-lg="100%">
            <mat-label>Promo Code Valid For This Vendor</mat-label>
            <mat-chip-grid #customerList aria-label="Customer selection">
              <mat-chip-row *ngFor="let store of selectedStores"  [removable]="removable"
                (removed)="removeStore(store)">
                {{store.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip-row>
              <input placeholder="New Vendors" #storeInput [formControl]="storeCtrl" [matAutocomplete]="storeAuto"
                [matChipInputFor]="customerList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur">
            </mat-chip-grid>
            <mat-autocomplete #storeAuto="matAutocomplete" (optionSelected)="selectedStore($event)">
              <mat-option *ngFor="let store of filteredStores | async" [value]="store">
                {{store.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
  
  
          <mat-form-field class="full-width" appearance="outline" fxFlex.gt-md="50%" fxFlex.lt-lg="100%">
            <mat-chip-grid #chipList aria-label="Customer selection">
              <mat-chip-row *ngFor="let customer of selectedCustomers"  [removable]="removable"
                (removed)="remove(customer)">
                {{customer.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip-row>
              <input placeholder="New customer..." #customerInput [formControl]="customerCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur">
            </mat-chip-grid>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
                {{customer.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
  
  
        </div>
  
        <div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-around center" fxLayout.lt-lg="column"
          fxLayoutAlign.lt-lg="space-around stretch" class="w-full" fxLayoutGap="10px">
          <div fxFlex.gt-md="50%" fxFlex.lt-lg="100%">
            <mat-slide-toggle formControlName="showInCustomerApp">Show In Customer App</mat-slide-toggle>
          </div>
  
          <div fxFlex.gt-md="50%" fxFlex.lt-lg="100%">
            <mat-slide-toggle formControlName="flatDiscount">Flat Discount</mat-slide-toggle>
          </div>
  
          <ng-container *ngIf="promoForm.value.flatDiscount">
            <mat-form-field class="full-width" appearance="outline" fxFlex.gt-md="50%">
              <mat-label>Flat discount amount</mat-label>
              <input matInput cancellation="Enter flat discount amount" formControlName="flatDiscountAmount">
            </mat-form-field>
          </ng-container>
  
          <ng-container *ngIf="!promoForm.value.flatDiscount">
            <mat-form-field class="full-width" appearance="outline" fxFlex.gt-md="50%">
              <mat-label>Select Discount Type</mat-label>
              <mat-select formControlName="discountType" cancellation="Discount Type">
                <mat-option *ngFor="let discount of ['Percentage', 'Amount']" [value]="discount">{{discount}}</mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field class="full-width" appearance="outline" fxFlex.gt-md="50%">
              <mat-label>Discount</mat-label>
              <input matInput type="number" cancellation="Enter flat discount amount" formControlName="discount">
            </mat-form-field>
          </ng-container>
  
        </div>
  
        <div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-around start" fxLayout.lt-lg="column"
          fxLayoutAlign.lt-lg="space-around stretch" class="w-full" fxLayoutGap="10px">
          <mat-form-field class="full-width" appearance="outline" fxFlex.gt-md="50%">
            <mat-label>Maximum Discount Amount</mat-label>
            <input matInput type="number" cancellation=">Maximum Discount Amount" formControlName="maximumDiscountAmount">
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline" fxFlex.gt-md="50%">
            <mat-label>Minimum Order Amount</mat-label>
            <input matInput type="number" cancellation=">Minimum Order Amount" formControlName="minimumOrderAmount">
          </mat-form-field>
        </div>
  
        <div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-around start" fxLayout.lt-lg="column"
          fxLayoutAlign.lt-lg="space-around stretch" class="w-full" fxLayoutGap="10px">
  
  
  
          <mat-form-field class="full-width" appearance="outline" fxFlex.gt-md="50%">
            <mat-label>Promo Code Redeem Start/End Period</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="startTime" placeholder="Start date">
              <input matEndDate formControlName="endTime" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
  
            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline" fxFlex.gt-md="50%">
            <mat-label>Promo code redeem count</mat-label>
            <input matInput type="number" cancellation="Promo code redeem count" formControlName="redeemCount">
          </mat-form-field>
        </div>
  
        <div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-around start" fxLayout.lt-lg="column"
          fxLayoutAlign.lt-lg="space-around stretch" class="w-full" fxLayoutGap="10px">
          <mat-form-field class="full-width"   appearance="outline" fxFlex.gt-md="50%">
            <mat-label>Promo Code Description</mat-label>
            <textarea matInput cancellation="Short Description" formControlName="promoCodeDescription"></textarea>
          </mat-form-field>
  
          <mat-form-field class="full-width" appearance="outline" fxFlex.gt-md="50%">
            <mat-label>Text Promo Code Description</mat-label>
            <textarea matInput cancellation="Text Promo Code Description" formControlName="textCodeDescription"></textarea>
          </mat-form-field>
        </div>
  
        <div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-around start" fxLayout.lt-lg="column"
          fxLayoutAlign.lt-lg="space-around stretch" class="w-full my-5" fxLayoutGap="10px">
         
            <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>
          
        </div>
  
        <div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-around start" fxLayout.lt-lg="column"
          fxLayoutAlign.lt-lg="space-around stretch" class="w-full" fxLayoutGap="10px">
         
          <a mat-raised-button (click)="back()" fxFlex="50%">CANCEL</a>
          <button mat-raised-button  fxFlex="50%" color="primary" [disabled]="promoForm.invalid">{{isLoading ? 'CHECKING...' : 'SAVE'}}</button>
          
        </div>
  
  
  
      </div>
    </form>
  </div>
  
  
  
