<div class="mat-elevation-z8 container mx-auto my-10  p-5" style="width: 50rem;">
    <form [formGroup]="cuisineForm" (ngSubmit)="submit()">
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch">

            <app-select-media valueName="Image" [isNew]="false" [mediaData]="mediaData?.image"
            (removeValue)="removeValue($event)" (openMediaBrowser)="addMedia($event)"></app-select-media>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Name Of Cuisine</mat-label>
                <input matInput cancellation="Name Of Cuisine" formControlName="name">
            </mat-form-field>

            <mat-slide-toggle formControlName="status">Enable</mat-slide-toggle>

            <!-- <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <mat-select  formControlName="country" (selectionChange)="selectedCountry($event)">
                <mat-option *ngFor="let zone of deliveriesZones" [value]="zone.country">{{zone.country}}</mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field appearance="fill" *ngIf="selectedZone">
              <mat-label>States</mat-label>
              <mat-select  multiple formControlName="states">
                <mat-select-trigger>
                  {{cuisineForm.value?.states?.[0] || ''}}
                  <span *ngIf="(cuisineForm.value?.states?.length || 0) > 1" class="example-additional-selection">
                    (+{{(cuisineForm.value?.states?.length || 0) - 1}} {{cuisineForm.value?.states?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let locality of selectedZone.states" [value]="locality.name">{{locality.name}}</mat-option>
              </mat-select>
            </mat-form-field> -->

            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <mat-select  multiple formControlName="countries">
                <mat-select-trigger>
                  {{cuisineForm.value.countries?.[0] || ''}}
                  <span *ngIf="(cuisineForm.value?.countries?.length || 0) > 1" class="example-additional-selection">
                    (+{{(cuisineForm.value.countries?.length || 0) - 1}} {{cuisineForm.value.countries?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let zone of deliveriesZones" [value]="zone.country">{{zone.country}}</mat-option>
              </mat-select>
            </mat-form-field>
        
            

            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
                <a mat-raised-button (click)="back()" fxFlex="50%">CANCEL</a>

                <button mat-raised-button  fxFlex="50%" color="primary" [disabled]="cuisineForm.invalid">SAVE</button>
            </div>
           <!-- <pre>{{cuisineForm.value | json}}</pre> -->
        </div>
    </form>
</div>