<div class="mat-elevation-z8 container mx-auto my-10  p-5" style="width: 50rem;">
    <form [formGroup]="cuisineForm" (ngSubmit)="submit()">
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch">

            <app-select-media valueName="Image" [isNew]="false" [mediaData]="mediaData?.image"
            (removeValue)="removeValue($event)" (openMediaBrowser)="addMedia($event)"></app-select-media>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Name Of Cuisine</mat-label>
                <input matInput placeholder="Name Of Cuisine" formControlName="name">
            </mat-form-field>

            <mat-slide-toggle formControlName="status">Enable</mat-slide-toggle>

            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
                <a mat-raised-button (click)="back()" fxFlex="50%">CANCEL</a>

                <button mat-raised-button  fxFlex="50%" color="primary" [disabled]="cuisineForm.invalid">SAVE</button>
            </div>
           
        </div>
    </form>
</div>