<h1 mat-dialog-title>Send Notification</h1>
<div mat-dialog-content>
  <form [formGroup]="messagesForm" fxLayout="column" fxLayoutAlign="space-around stretch">
    <mat-form-field appearance="fill" *ngIf="deliveries">
      <mat-label>countries</mat-label>
      <mat-select  multiple formControlName="countries">
        <mat-select-trigger>
          {{messagesForm.value.countries?.[0] || ''}}
          <span *ngIf="(messagesForm.value.countries?.length || 0) > 1" class="example-additional-selection">
            (+{{(messagesForm.value.countries?.length || 0) - 1}} {{messagesForm.value.countries?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let country of deliveries" [value]="country.country">{{country.country}}</mat-option>
      </mat-select>
    </mat-form-field>

  
      <mat-form-field class="example-chip-list" *ngIf="!data.allCustomers">
        <mat-label>Recipients</mat-label>
        <mat-chip-grid #chipGrid aria-label="Message Recipients">
          <mat-chip-row *ngFor="let recipient of recipients.controls; let i = index" (removed)="deleteRecipient(i)">
            {{recipient.value.name}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input  #fruitInput formArrayName="recipients"
          [matChipInputFor]="chipGrid" 
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"/>
      </mat-form-field>


    

    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput cancellation="Enter Message Title" formControlName="title">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>body</mat-label>
      <textarea matInput cancellation="Enter Message Body" rows="20" formControlName="body"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button (click)="submit()" [disabled]="messagesForm.invalid" cdkFocusInitial>Send</button>
</div>


