<div style="height: 100vh; position: relative;">
    
    <div *ngIf="(menus$ | async)">
        <div cdkDropList class="example-list"     (cdkDropListDropped)="drop($event)">
            <div class="example-box" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let menu of menus; cdkDropList let i = index" matRipple  cdkDrag (click)="viewMenu(menu._id)" >
             
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" >
                  <mat-icon mat-list-icon class="cursor-move">reorder</mat-icon>
                  <div fxLayout="column" fxLayoutAlign="start start" >
                      <span class="leading-none text-lg mb-1">{{menu.name}}</span>
                      <span class="leading-none"> {{menu.description}} </span>
                     </div>
              </div>
            
              
          
              <div>
                  <button mat-icon-button [matMenuTriggerFor]="menu2" (click)="$event.stopPropagation()">
                      <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu2="matMenu">
                      <button mat-menu-item (click)="delete(i, menu._id)"><mat-icon>delete</mat-icon> Delete</button>
                      <!-- <button mat-menu-item (click)="viewMenu(menu._id)"><mat-icon>visibility</mat-icon>View</button> -->
                      <button mat-menu-item (click)="openEdit(menu)"><mat-icon>edit</mat-icon> Edit</button>
                  </mat-menu>
              </div>
          
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            </div>
          </div>
    </div>


    <button mat-fab (click)="addMenu()" color="primary" 
        style="position: fixed; bottom: 80px; right: 15px">
        <mat-icon class="mat-18">add</mat-icon>
    </button>

</div> 




