
<div style="height: 100vh; position: relative;">
 
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-3">
      <button mat-icon-button (click)="goBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <div class="details">
        <h2>{{menu.name}}</h2>
        <p>inside {{store.name}} Menu</p>
      </div>
    </div>
    <button mat-raised-button fxHide.lt-md="true" color="primary" (click)="addTimeToMenu()"> <mat-icon class="mat-18">add</mat-icon> Add Item</button>
  </div>


<mat-divider></mat-divider>

<div fxLayout.gt-md="row wrap" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start stretch" fxLayoutAlign="start start" fxLayoutGap="10px" style="margin-top: 20px;">
  <mat-card fxFlex.gt-md="24.5%" class="mb-5" fxFlex.lt-md="100%" *ngFor="let food of foods; let i = index">
    <mat-card-title-group>
      <mat-card-title>{{food.name}}</mat-card-title>
      <mat-card-subtitle>{{food.price | currency: 'N'}}</mat-card-subtitle>
      <img mat-card-sm-image [src]="(food.photos.length > 0) ? food.photos[0] : 'https://dashboard.heypay.xyz/images/image_placeholder.png'">
    </mat-card-title-group>
    <mat-card-content>
      <p>{{food.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="edit(food)">EDIT</button>
      <button mat-button color="warn" (click)="removeFood(food, i)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
<button mat-fab (click)="addTimeToMenu()" fxHide.lt-md="false" fxHide.gt-md="true" color="primary" align="right" style="position: fixed; bottom: 100px; right: 15px">
  <mat-icon class="mat-18">add</mat-icon>
</button>
</div>
