

<div class="w-full h-screen relative">

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  
    <table class="w-full text-sm text-left text-gray-500 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
            <tr>

        
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
               
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                  Change Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b " *ngFor="let banner of banners; let i = index">
                
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap ">
                    <img class="w-10 h-10 rounded-full" [src]="banner.image" alt="Jese image">
                    <div class="pl-3">
                        <div class="text-base font-semibold">{{banner.title}}</div>
                        <div class="font-normal text-gray-500">{{banner.category}} {{banner.category}}  {{banner.link}}</div>
                    </div>  
                </th>
               
                <td class="px-6 py-4">
                    <div class="flex items-center" *ngIf="banner.active">
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2" ></div> Active
                    </div>

                    <div class="flex items-center" *ngIf="!banner.active">
                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2" ></div> Inactive
                    </div>
                </td>
                <td class="px-6 py-4">
                    <mat-slide-toggle [(ngModel)]="banner.active" (change)="onChange(banner, $event)" class="mx-8" color="primary"></mat-slide-toggle>
                </td>
                <td class="px-6 py-4">
                    <button mat-icon-button [matMenuTriggerFor]="menu" >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" (click)="$event.stopPropagation()">
                        <button mat-menu-item (click)="delete(i, banner._id); $event.stopPropagation() "><mat-icon>delete</mat-icon> Delete</button>
                        <button mat-menu-item (click)="viewDetails(banner)">
                            <mat-icon>edit</mat-icon> Edit / View
                        </button>
                      </mat-menu>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>

    
    
    
    <button mat-fab (click)="addBanner()" color="primary"  
        style="position: fixed; bottom: 80px; right: 15px">
        <mat-icon class="mat-18">add</mat-icon>
    </button>
    
</div>
