<div class="mat-elevation-z8 container mx-auto my-10  p-5" style="width: 50rem;">
    <form [formGroup]="merchantForm" (ngSubmit)="submit()">
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput cancellation="Full Name" formControlName="name">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput cancellation="Phone Number" formControlName="phoneNumber">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput cancellation="Email" formControlName="email">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option *ngFor="let gender of ['Male', 'Female']" [value]="gender">{{gender}}</mat-option>
                </mat-select>
            </mat-form-field>


              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Select Roles</mat-label>
                <mat-select formControlName="role">
                    <mat-option *ngFor="let role of roles" [value]="role.name">{{role.name}}</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Pin</mat-label>
                <input matInput type="number" maxlength="4" minlength="4"  formControlName="pin">
            </mat-form-field>


      

            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
                <a mat-raised-button (click)="back()" fxFlex="50%">CANCEL</a>

                <button mat-raised-button  fxFlex="50%" color="primary" [disabled]="merchantForm.invalid">SAVE</button>
            </div>
           
        </div>
    </form>
</div>