<div class="row">
    <form *ngIf="filterForm" [formGroup]="filterForm">
        <div fxLayout.lt-lg="column" fxLayout="row" fxLayoutAlign="space-between start">
            <div class="col-xl-3" ngClass.lt-lg="w-full">
                <mat-form-field appearance="outline" ngClass.lt-lg="w-full">
                    <mat-label>Filter Store name</mat-label>
                    <input matInput [(ngModel)]="name"  [ngModelOptions]="{standalone: true}" type="text" required placeholder="Search">
                </mat-form-field>
            </div>
            <div fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="space-between stretch" fxLayout="row" fxLayoutGap="10px"
                fxLayoutAlign.gt-md="space-between start" ngClass.lt-lg="w-full">
                <div class="col-xl-3" ngClass.lt-lg="w-full">
                    <mat-form-field appearance="outline" ngClass.lt-lg="w-full">
                        <mat-label>Filter by Active </mat-label>
                        <mat-select formControlName="active">
                            <mat-option
                                *ngFor="let active of [{name: 'Enabled', value: true}, {name: 'Disable', value: false}]"
                                [value]="active.value">{{
                                active.name
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-3" ngClass.lt-lg="w-full">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Filter by Country </mat-label>
                        <mat-select formControlName="contactInfo.country">
                            <mat-option *ngFor="let country of ['Nigeria', 'Mauritius']"
                                [value]="country">{{country}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-3" ngClass.lt-lg="w-full">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Filter by Category</mat-label>
                        <mat-select formControlName="category" multiple="true">
                            <mat-option *ngFor="let category of categories" [value]="category._id">{{
                                category.name
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <button mat-button fxFlexAlign="center" ngClass.lt-lg="w-full" (click)="clearFilerSet()">
                    Clear Filters
                </button>

            </div>

        </div>

    </form>
</div>
<div class="w-full h-screen relative">
    <mat-list style="margin-bottom: 20px">
        <div mat-subheader>Stores</div>
        <mat-list-item *ngFor="let store of stores | filterByName:name; let i = index"
            [routerLink]="['../', store._id, 'explore']" matRipple>
            <div mat-line class="status">{{store.active ? 'APPROVE' : 'UNAPPROVED'}}</div>
            <div mat-line><span class="title font-extrabold">{{store.name}}</span></div>

            <div mat-line class="text-gray-400 font-thin">{{store.contactInfo.placeNumber}}
                {{store.contactInfo.placeName}} {{store.contactInfo.country}} </div>

            <mat-slide-toggle [(ngModel)]="store.active" (click)="$event.stopPropagation()"
                (change)="onChange(store, $event)" class="mx-8" color="primary"></mat-slide-toggle>

            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="delete(i, store._id);"><mat-icon>delete</mat-icon> Delete</button>


                <button mat-menu-item (click)="viewDetails(store)">
                    <mat-icon>edit</mat-icon> Edit
                </button>
            </mat-menu>
            <mat-divider></mat-divider>
        </mat-list-item>

    </mat-list>




    <button mat-fab (click)="addNewStore()" color="primary" style="position: fixed; bottom: 80px; right: 15px">
        <mat-icon class="mat-18">add</mat-icon>
    </button>

</div>