<div mat-subheader>Mobile Blocks</div>
<mat-list style="margin-bottom: 20px" cdkDropList class="example-list"  (cdkDropListDropped)="drop($event)">
    
    <mat-list-item *ngFor="let block of blocks; let i = index" cdkDrag>
        <div mat-line class="status">{{block.title}}</div>
        <div mat-line><span class="title font-extrabold">{{block.content}}</span></div>
        
       <!-- <div mat-line class="text-gray-400 font-thin">{{block.description}} </div> -->

       <mat-slide-toggle [(ngModel)]="block.active" (change)="onChange(block, $event)" class="mx-8" color="primary"></mat-slide-toggle>
       
        <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" (click)="$event.stopPropagation()">
            <button mat-menu-item (click)="delete(i, block._id); $event.stopPropagation() "><mat-icon>delete</mat-icon> Delete</button>
            <button mat-menu-item (click)="viewDetails(block)" *ngIf="!block.active">
                <mat-icon>done</mat-icon> Enable
            </button>
            
            <button mat-menu-item (click)="viewDetails(block)">
                <mat-icon>edit</mat-icon> Edit / View
            </button>
          </mat-menu>
          <mat-divider></mat-divider>
    </mat-list-item>
    
</mat-list>


<div fxLayout="row" fxLayoutAlign="end end">
    <button mat-fab color="primary" aria-label="Add Store" class="fixed" (click)="addNewBlock()">
        <mat-icon>add</mat-icon>
    </button>
</div>