


<h1 matDialogTitle>Add Store</h1>
<div mat-dialog-content>
  <form name="storeForm" [formGroup]="storeForm" class="product w-100-p" fxLayout="column" fxFlex>
    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Product Name" name="name" formControlName="name" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Product Description" name="description" formControlName="description" rows="5"></textarea>
    </mat-form-field>
  
  </form>
</div>
<div mat-dialog-actions class="pt-24">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button class="mat-accent mr-16" (click)="save()" [disabled]="!storeForm.valid">{{isLoading ? 'Please wait..' : 'Create Store' }}</button>
</div>
