<h1 matDialogTitle>Edit Notes</h1>

<mat-dialog-content>
 <form [formGroup]="customerForm" >
  <div fxLayout="column" fxLayoutAlign="space-evenly stretch" >
   <mat-form-field class="full-width" appearance="outline">
    <mat-label>Add a note</mat-label>
    <textarea matInput cancellation="Add a note" formControlName="notes"></textarea>
   </mat-form-field>
  </div>
 </form>
</mat-dialog-content>

<mat-dialog-actions>
 <button mat-button matDialogClose>CANCEL</button>
 <button mat-raised-button color="primary" (click)="submit()" [disabled]="customerForm.invalid">Save</button>
</mat-dialog-actions>