


<h1 matDialogTitle>Edit Menu</h1>
<mat-dialog-content class="mat-typography">
  <form name="menuForm" [formGroup]="menuForm" class="product w-100-p" fxLayout="column" fxFlex>
    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Menu Name" name="name" formControlName="name" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Menu Description" name="description" formControlName="description" rows="5"></textarea>
    </mat-form-field>

    

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Days Available
          </mat-panel-title>
          <mat-panel-description>
            Select the days this menu will be available
          </mat-panel-description>
        
        </mat-expansion-panel-header>
        <div fxLayout="row wrap"  fxLayoutGap="20px"  fxLayoutAlign="space-between start">
          <mat-checkbox class="example-margin"  *ngFor="let item of availableDays" [checked]="item.active" (change)="checked(item, $event)">{{item.day}}</mat-checkbox>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Opening Hours
          </mat-panel-title>
          <mat-panel-description>
            Set the opening hours for this menu
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="space-between start"  *ngFor="let day of filteredDays">
          <p>{{day.day}}</p>
          <mat-form-field>
            <input matInput type="time"  [value]="day.from" (change)="changeTime($event, day, 'from')"  placeholder="start time">
          </mat-form-field>
  
          <mat-form-field>
            <input matInput type="time" [value]="day.to" (change)="changeTime($event, day, 'to')"  placeholder="end date">
          </mat-form-field>
        </div>
        
      </mat-expansion-panel>
    </mat-accordion>
  
  </form>
</mat-dialog-content>
<div mat-dialog-actions class="pt-24">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button class="mat-primary mr-16" (click)="save()" [disabled]="!menuForm.valid">{{isLoading ? 'Please wait..' : 'Save' }}</button>
</div>
