<mat-toolbar color="primary" class="main-toolbar">
    <mat-toolbar-row fxLayout="row" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayout="row"  fxLayoutAlign="space-between center">
            <div class="logo-container">
                <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button> 
            </div>
            <h1 class="example-app-name">SHOPBOT</h1>
        </div>
        <button mat-button (click)="logOut()"><mat-icon>logout</mat-icon>  Log out</button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" [mode]="this.currentScreenSize === 'XSmall' ? 'over' : 'side'" opened="true" >
        <mat-nav-list>
            <mat-list-item   class="parent" routerLinkActive="active" (click)="closeWhenClick()" [routerLink]="['/dashboard/home']">
                <span class="full-width">Dashboard</span>
                <mat-icon class="material-icons-outlined" mat-list-icon>dashboard</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/stores/list']" (click)="closeWhenClick()" *ngIf="auth.isShow([Role.Admin, Role.Producer])">
                <span class="full-width">Stores</span>
                <mat-icon class="material-icons-outlined" mat-list-icon>storefront</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/cuisines/list']" (click)="closeWhenClick()" *ngIf="auth.isShow([Role.Admin, Role.Producer])">
                <span class="full-width">Cuisines</span>
                <mat-icon mat-list-icon class="material-icons-outlined">ramen_dining</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/categories/list']" (click)="closeWhenClick()" *ngIf="auth.isShow([Role.Admin, Role.Producer])">
                <span class="full-width">Categories</span>
                <mat-icon mat-list-icon class="material-icons-outlined">category</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/orders/list']" (click)="closeWhenClick()" *ngIf="auth.isShow([Role.Admin, Role.Marketer])">
                <span class="full-width">Orders</span>
                <mat-icon mat-list-icon class="material-icons-outlined">receipt_long</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/customers/list']" (click)="closeWhenClick()" *ngIf="auth.isShow([Role.Admin, Role.Marketer])">
                <span class="full-width">Customers</span>
                <mat-icon mat-list-icon class="material-icons-outlined">group</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/admin/list']" (click)="closeWhenClick()" *ngIf="auth.isShow([Role.Admin])">
                <span class="full-width">Administration</span>
                <mat-icon mat-list-icon class="material-icons-outlined">admin_panel_settings</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/merchants/list']" (click)="closeWhenClick()" *ngIf="auth.isShow([Role.Admin])">
                <span class="full-width">Merchants</span>
                <mat-icon mat-list-icon class="material-icons-outlined">face_3</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/roles-permissions/list']" (click)="closeWhenClick()" *ngIf="auth.isShow([Role.Admin])">
                <span class="full-width">Roles and Permissions</span>
                <mat-icon mat-list-icon class="material-icons-outlined">manage_accounts</mat-icon>
            </mat-list-item>
            

            <mat-list-item  class="parent" [routerLink]="['/dashboard/promos/list']">
                <span class="full-width">Promo</span>
                <mat-icon mat-list-icon class="material-icons-outlined">card_giftcard</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/delivery-zones/list']">
                <span class="full-width">Delivery Zones</span>
                <mat-icon mat-list-icon class="material-icons-outlined">emoji_flags</mat-icon>
            </mat-list-item>

            

            <mat-list-item  class="parent" [routerLink]="['/dashboard/messages/list']" (click)="closeWhenClick()" *ngIf="auth.isShow([Role.Admin, Role.Marketer])">
                <span class="full-width">Messaging</span>
                <mat-icon mat-list-icon class="material-icons-outlined">campaign</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/media']" (click)="closeWhenClick()" *ngIf="auth.isShow([Role.Admin, Role.Marketer, Role.Producer])">
                <span class="full-width">Media</span>
                <mat-icon mat-list-icon class="material-icons-outlined">perm_media</mat-icon>
            </mat-list-item>

            <mat-list-item  class="parent" [routerLink]="['/dashboard/banners/list']" (click)="closeWhenClick()" *ngIf="auth.isShow([Role.Admin, Role.Marketer, Role.Producer])">
                <span class="full-width">Banners</span>
                <mat-icon mat-list-icon class="material-icons-outlined">perm_media</mat-icon>
            </mat-list-item>

            
            <mat-list-item  class="parent" [routerLink]="['/dashboard/settings']">
                <span class="full-width">Settings</span>
                <mat-icon mat-list-icon class="material-icons-outlined">settings</mat-icon>
            </mat-list-item>
          
        </mat-nav-list>
        <mat-nav-list>
        </mat-nav-list>
    </mat-sidenav>

    <div class="example-sidenav-content">
        <div *ngIf="showNotification" id="toast-interactive" class="my-5 mx-auto w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:bg-gray-800 dark:text-gray-400" role="alert">
            <div class="flex">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-blue-500 bg-blue-100 rounded-lg dark:text-blue-300 dark:bg-blue-900">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">icon</span>
                </div>
                <div class="ml-3 text-sm font-normal">
                    <span class="mb-1 text-sm font-semibold text-gray-900 dark:text-white">Notification</span>
                    <div class="mb-2 text-sm font-normal">Shopbot Admin wants to send you notification.</div> 
                    <div class="grid grid-cols-2 gap-2">
                        <button mat-raised-button color="warm">Not Now</button> 
                        <button mat-raised-button (click)="subscribeToNotifications()" color="primary">Allow</button>
                    </div>    
                </div>
                <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-interactive" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
          </div>
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>
