<h1 matDialogTitle>Update Balance</h1>

<mat-dialog-content>
 <form [formGroup]="customerForm" >
  <div fxLayout="column" fxLayoutAlign="space-evenly stretch" >
   <mat-form-field class="full-width" appearance="fill">
    <mat-label>Ballance</mat-label>
    <input matInput cancellation="Ballance" formControlName="walletBallance">
   </mat-form-field>
  </div>
 </form>
</mat-dialog-content>

<mat-dialog-actions>
 <button mat-button matDialogClose>CANCEL</button>
 <button mat-raised-button color="primary" (click)="submit()" [disabled]="customerForm.invalid">Save</button>
</mat-dialog-actions>
