

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div mat-subheader>Payment Methods</div>
    <table class="w-full text-sm text-left text-gray-500 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
            <tr>
               
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Visibility
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b   hover:bg-gray-50 " *ngFor="let payment of payments; let i = index">
               
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                   
                    <div class="pl-3">
                        <div class="text-base text-black font-semibold">{{payment.name}}</div>
                        <div class="font-normal text-gray-500">{{payment.description}}</div>
                    </div>  
                </th>
                
                <td class="px-6 py-4">
                    <div class="flex items-center"  *ngIf="payment.active">
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Active
                    </div>
                    <div class="flex items-center"  *ngIf="!payment.active">
                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div> Inactive
                    </div>
                </td>
                <td class="px-6 py-4">
                    <mat-slide-toggle [(ngModel)]="payment.active" (change)="onChange(payment, $event)" class="mx-8" color="primary"></mat-slide-toggle>
                </td>
                <td class="px-6 py-4">
                    <button mat-icon-button [matMenuTriggerFor]="menu" >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" (click)="$event.stopPropagation()">
                        <button mat-menu-item (click)="delete(i, payment._id); $event.stopPropagation() "><mat-icon>delete</mat-icon> Delete</button>
                        <button mat-menu-item (click)="viewDetails(payment)" *ngIf="!payment.active">
                            <mat-icon>done</mat-icon> Enable
                        </button>
                        
                        <button mat-menu-item (click)="viewDetails(payment)">
                            <mat-icon>edit</mat-icon> Edit / View
                        </button>
                      </mat-menu>
                </td>
            </tr>
           
        </tbody>
    </table>
</div>



<div fxLayout="row" fxLayoutAlign="end end">
    <button mat-fab color="primary" aria-label="Add Store" class="fixed" (click)="addNewPayment()">
        <mat-icon>add</mat-icon>
    </button>
</div>