

    <div class="mat-elevation-z8 container mx-auto my-10  p-5" ngStyle.gt-sm="width: 50rem;" ngStyle.lt-lg="width: 100%">
        <form [formGroup]="bannerForm" (ngSubmit)="submit()">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <div class="mb-4">
                <app-select-media valueName="Image" [isNew]="false" [mediaData]="mediaData?.image"
            (removeValue)="removeValue($event)" (openMediaBrowser)="addMedia($event)"></app-select-media>
              </div>
                
    
                <mat-form-field class="full-width" >
                    <mat-label>Name Of Banner</mat-label>
                    <input matInput cancellation="Name Of Banner" formControlName="title">
                </mat-form-field>

                <mat-form-field class="full-width" >
                    <mat-label>Short Description</mat-label>
                    <textarea matInput cancellation="Short Description" formControlName="shortDescription"></textarea>
                </mat-form-field>

                <mat-form-field class="full-width"  >
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let category of ['Product', 'Category', 'Blog']" [value]="category" >{{category}}</mat-option>
                    </mat-select>
                   
                </mat-form-field>

                <mat-form-field class="example-full-width" *ngIf="bannerForm.value.category === 'Product'">
                  <mat-label>Store</mat-label>
                  <input matInput
                         aria-label="Store"
                         [matAutocomplete]="auto"
                         [formControl]="storesCtrl"
                         formControlName="storeId">
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onShopSelectionChanged($event)" > 
                    <mat-option *ngFor="let store of filteredStores | async" [value]="store.name" [id]="store._id">
                      <span>{{store.name}}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="example-full-width" *ngIf="bannerForm.value.storeId">
                  <mat-label>Select product menu</mat-label>
                  <mat-select (selectionChange)="changeMenu($event)"  formControlName="menuId">
                    <mat-option *ngFor="let menu of menus$ | async" [value]="menu._id">
                      <span>{{menu.name}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" *ngIf="selectedMenu">
                  <mat-label>Select product</mat-label>
                  <mat-select formControlName="productId">
                    <mat-option *ngFor="let food of selectedMenu.foods" [value]="food._id">
                      <span>{{food.name}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width" >
                    <mat-label>Link</mat-label>
                    <input matInput cancellation="Enter Link" formControlName="link">
                </mat-form-field>

                <mat-form-field class="full-width"  >
                    <mat-label>Show on Slider</mat-label>
                    <mat-select formControlName="showOnSlider">
                        <mat-option *ngFor="let category of [{value:true, name:'Yes'}, {value: false, name:'No'}]" [value]="category.value" >{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field >
                  <mat-label>Country</mat-label>
                  <mat-select  formControlName="country" (selectionChange)="selectedCountry($event.value)">
                    <mat-option *ngFor="let zone of deliveryZones" [value]="zone.country">{{zone.country}}</mat-option>
                  </mat-select>
                </mat-form-field>
          
                <mat-form-field appearance="outline" *ngIf="bannerForm.value.country">
                  <mat-label>States</mat-label>
                  <mat-select  multiple formControlName="states">
                    <mat-select-trigger>
                      {{bannerForm.value?.states?.[0] || ''}}
                      <span *ngIf="(bannerForm.value?.states?.length || 0) > 1" class="example-additional-selection">
                        (+{{(bannerForm.value?.states?.length || 0) - 1}} {{bannerForm.value?.states?.length === 2 ? 'other' : 'others'}})
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let locality of selectedZone.states" [value]="locality.name">{{locality.name}}</mat-option>

                  </mat-select>
                </mat-form-field>

                
    
                

                <mat-form-field class="full-width"  >
                  <mat-label>Publish</mat-label>
                  <mat-select formControlName="active">
                      <mat-option *ngFor="let category of [{value:true, name:'Yes'}, {value: false, name:'No'}]" [value]="category.value" >{{category.name}}</mat-option>
                  </mat-select>
              </mat-form-field>
    
                <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
                    <a mat-raised-button (click)="back()" fxFlex="50%">CANCEL</a>
    
                    <button mat-raised-button  fxFlex="50%" color="primary" [disabled]="bannerForm.invalid">SAVE</button>
                </div>
               
            </div>
        </form>
    </div>