<div class="mat-elevation-z8 container mx-auto my-10  p-5" style="width: 50rem;">
    <h3 class="text-center">Version control(Developers only)</h3>
    <form [formGroup]="versionForm" (ngSubmit)="submit()">
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch">


            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout="row" fxLayoutAlign="space-around center"
                fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutAlign.lt-md="space-around stretch" fxFlex.gt-sm="50%"
                fxFlex.lt-md="100%">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>ios User APP Version</mat-label>
                    <input matInput cancellation="ios User Version" formControlName="iosUserVersion">
                </mat-form-field>

                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>ios Vendor APP Version</mat-label>
                    <input matInput cancellation="ios Vendor APP Version" formControlName="iosVendorVersion">
                </mat-form-field>

               
            </div>


            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout="row" fxLayoutAlign="space-around center"
                fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutAlign.lt-md="space-around stretch" fxFlex.gt-sm="50%"
                fxFlex.lt-md="100%">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Android Vendor Version</mat-label>
                    <input matInput cancellation="Android Vendor Version" formControlName="androidVendorVersion">
                </mat-form-field>
                
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Android User APP Version</mat-label>
                    <input matInput cancellation="Android UserVersion" formControlName="androidUserVersion">
                </mat-form-field>

                
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout="row" fxLayoutAlign="space-around center"
                fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutAlign.lt-md="space-around stretch" fxFlex.gt-sm="50%"
                fxFlex.lt-md="100%">
               
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>ios User App URL</mat-label>
                    <input matInput cancellation="ios User App URL" formControlName="iosUserAppURL">
                </mat-form-field>

                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>ios Vendor App URL</mat-label>
                    <input matInput cancellation="ios Vendor App URL" formControlName="iosVendorAppURL">
                </mat-form-field>

               
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout="row" fxLayoutAlign="space-around center"
                fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutAlign.lt-md="space-around stretch" fxFlex.gt-sm="50%"
                fxFlex.lt-md="100%">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Android User App URL</mat-label>
                    <input matInput cancellation="Android User App UR" formControlName="androidUserAppURL">
                </mat-form-field>

                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Android Vendor App URL</mat-label>
                    <input matInput cancellation="Android Vendor App URL" formControlName="androidVendorAppURL">
                </mat-form-field>
            </div>



            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout="row" fxLayoutAlign="space-around center"
                fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutAlign.lt-md="space-around stretch" fxFlex.gt-sm="50%"
                fxFlex.lt-md="100%">
              
        
                <mat-form-field class="full-width">
                    <mat-label>iOS User APP Version Mandatory</mat-label>
                    <mat-select formControlName="iosUserVersionMandatory">
                      <mat-option *ngFor="let item of [{name: 'Yes', value: true}, {name: 'No', value: false}]" [value]="item.value">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>iOS Vendor APP Mandatory</mat-label>
                    <mat-select formControlName="iosVendorMandatory">
                      <mat-option *ngFor="let item of [{name: 'Yes', value: true}, {name: 'No', value: false}]" [value]="item.value">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout="row" fxLayoutAlign="space-around center"
                fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutAlign.lt-md="space-around stretch" fxFlex.gt-sm="50%"
                fxFlex.lt-md="100%">
             

                <mat-form-field class="full-width">
                    <mat-label>Android User Version Mandatory</mat-label>
                    <mat-select formControlName="androidUserVersionMandatory">
                      <mat-option *ngFor="let item of [{name: 'Yes', value: true}, {name: 'No', value: false}]" [value]="item.value">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

            

                <mat-form-field class="full-width"> 
                    <mat-label>Android Vendor App Mandatory</mat-label>
                    <mat-select formControlName="androidVendorMandatory">
                      <mat-option *ngFor="let item of [{name: 'Yes', value: true}, {name: 'No', value: false}]" [value]="item.value">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
               
            </div>

           

            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
                <a mat-raised-button (click)="back()" fxFlex="50%">CANCEL</a>

                <button mat-raised-button fxFlex="50%" color="primary" [disabled]="versionForm.invalid">SAVE</button>
            </div>

        </div>
    </form>
</div>